<template>
  <div class="main">
    <NavPanel />
    <div class="main_wrapper">
      <HeaderForDeclarations />
      <div class="info_container">
        <p>Объявление: {{ post.oid }}</p>
        <p>Арендодатель: {{ username }}</p>
        <p>Объект:{{ post.post_flat?.flat_address }}</p>
      </div>
      <hooper :settings="hooperSettings">
        <slide v-for="slide in image" :key="slide.id">
          <img :src="slide" alt="1"
        /></slide>
        <!-- <slide> <img :src="image" alt="1" /></slide> -->
        <hooper-navigation slot="hooper-addons"></hooper-navigation>
      </hooper>
    </div>
  </div>
</template>

<script>
import NavPanel from "~/components/NavPanel";
import HeaderForDeclarations from "~/components/HeaderForDeclarations";
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  middleware: ["auth"],
  components: {
    NavPanel,
    HeaderForDeclarations,
    Hooper,
    Slide,
    HooperNavigation,
  },
  async mounted() {
    await this.getOnePost(this.$route.params.id);
    //
    await this.post.post_photos.forEach((element) => {
      this.getPhotos(element.oid);
      const blob = new Blob([this.photos]);
      //  let objectURL = URL.createObjectURL(blob);
      //  console.log(blob);
      let reader = new FileReader();
      reader.readAsDataURL(blob);
      reader.onload = () => {
        // console.log(reader.result);
        // this.image.push(reader.result);
        this.image.push(reader.result);
        // console.log(this.image);
      };
    });
    // console.log(this.photos);

    // console.log(this.photos);
  },
  data() {
    return {
      hooperSettings: {
        itemsToShow: 2,
        centerMode: true,
      },
      test: "",
      image: [],
    };
  },
  methods: {
    async getOnePost(id) {
      await this.$store.dispatch("getOnePost", id);
    },
    async getPhotos(id) {
      await this.$store.dispatch("getPhotos", id);
    },
    // getUser(userId) {
    //   this.$store.dispatch("getAllUsers");
    //   this.users.forEach((element) => {
    //     if (element.oid == userId) {
    //       console.log(element.user_name);
    //       // return element.user_name
    //       this.test = element.user_name
    //     }
    //   });
    //   return this.test
    // },
  },
  computed: {
    post() {
      return this.$store.getters["getOnePost"];
    },
    username() {
      return this.$store.getters["getOneUser"];
    },
    photos() {
      return this.$store.getters["getPhotos"];
    },
  },
};
</script>

<style lang="scss" scoped>
.hooper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 34rem;
}
li {
  display: flex;
  justify-content: center;
}
p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #0c0934;
}
.info_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.75rem;
}
</style>