<template>
  <div class="column">
    <slot></slot>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ application.oid }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ user_name }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">
        {{ application.post_flat.flat_address }}</span
      >
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ application.price }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ application.post_title }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">
        {{ application.post_information }}</span
      >
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">
        {{ application.post_creation_date }}</span
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    application: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      user_name: "",
    };
  },
  async mounted() {
    await this.getUsers();
    await this.users.forEach((element) => {
      if (element.oid == this.application.post_creator.oid) {
        this.user_name = element.user_name;
      }
    });
  },
  methods: {
    async getUsers() {
      await this.$store.dispatch("getAllUsers");
    },
    // formatDate(event) {
    //   let date = new Date(event);
    //   var options = {
    //     month: "numeric",
    //     day: "numeric",
    //     year: "numeric",
    //     // hour: "numeric",
    //     // minute: "numeric",
    //   };
    //   return date.toLocaleString("ru", options);
    // },
    // formatTime(event) {
    //   let time = event.split(".");
    //   return time[0];
    // },
    // addApplication($event, value) {
    //   if ($event.target.checked) {
    //     this.$store.commit("SetSelectedApplication", value);
    //   } else {
    //     this.$store.commit("removeApplication",value);
    //   }
    // },
  },
  computed: {
    users() {
      return this.$store.getters["getUsers"];
    },
  },
};
</script>

<style>
.checkbox_item {
  position: absolute;
  left: -2.506rem;
  margin-top: 1.313rem;
}
</style>