<template>
  <div class="header">
    <a href="" onclick="javascript:history.back(); return false;">
      <svg
        style="cursor: pointer"
        width="30"
        height="34"
        viewBox="0 0 30 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_d_956_3535)">
          <path
            d="M23.75 25L11.25 15L23.75 5V25Z"
            stroke="#4548ED"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6.25 23.75V6.25"
            stroke="#4548ED"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <filter
            id="filter0_d_956_3535"
            x="-4"
            y="0"
            width="38"
            height="38"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="2" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_956_3535"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_956_3535"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
    </a>
    <svg
      class="header_logout_icon"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M11.25 26.25H6.25C5.58696 26.25 4.95107 25.9866 4.48223 25.5178C4.01339 25.0489 3.75 24.413 3.75 23.75V6.25C3.75 5.58696 4.01339 4.95107 4.48223 4.48223C4.95107 4.01339 5.58696 3.75 6.25 3.75H11.25"
        stroke="#4548ED"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M20 21.25L26.25 15L20 8.75"
        stroke="#4548ED"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M26.25 15H11.25"
        stroke="#4548ED"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  //   margin: 4.5rem 5.625rem 0 13.25rem;
  margin-bottom: 2.5rem;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  input {
    height: 2.5rem;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    width: 17.5rem;
    padding: 0 0.8rem;
  }
  input:focus {
    outline: 1px solid #0473ff;
    border: none;
  }
  &_logout_icon {
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  &_logout_icon:hover {
    transform: scale(1.3);
  }
}
.custom_password {
  position: relative;

  .custom_password-icon {
    position: absolute;
    top: 0;
    bottom: 1px;
    right: 11px;
    margin: auto 0;
    width: 1.75rem;
    height: 1.738rem;
    background: url("~/assets/img/search.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
</style>