<template>
  <div class="header">
    <div class="custom_password">
      <input
        type="text"
        id="search"
        placeholder="Имя Фамилия"
        v-model="search"
      />
      <a
        @click.prevent="submitSearch"
        href="#"
        class="custom_password-icon"
      ></a>
    </div>
    <svg
      @click="logout"
      class="header_logout_icon"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M11.25 26.25H6.25C5.58696 26.25 4.95107 25.9866 4.48223 25.5178C4.01339 25.0489 3.75 24.413 3.75 23.75V6.25C3.75 5.58696 4.01339 4.95107 4.48223 4.48223C4.95107 4.01339 5.58696 3.75 6.25 3.75H11.25"
        stroke="#4548ED"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M20 21.25L26.25 15L20 8.75"
        stroke="#4548ED"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M26.25 15H11.25"
        stroke="#4548ED"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
    };
  },
  methods: {
    async logout() {
      await this.$auth.logout();
      this.$router.push("/login");
    },
    submitSearch() {
      if (this.$route.name == "users") {
        const searchUser = this.users.filter(
          (user) => user.user_name == this.search
        );
        this.$store.commit("setUsersData", searchUser);
      } else if (this.$route.name == "index") {
        const searchPost = this.posts.filter(
          (word) => word.post_title == this.search
        );
        this.$store.commit("setPostsData", searchPost);
      }
    },
  },
  computed: {
    users() {
      return this.$store.getters["getUsers"];
    },
    posts() {
      return this.$store.getters["getPosts"];
    },
  },
  watch: {
    search() {
      if (this.$route.name == "users" && this.search === "") {
        this.$store.dispatch("getAllUsers");
      }else if(this.$route.name == "index" && this.search === ""){
        this.$store.dispatch("getAllPosts");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  //   margin: 4.5rem 5.625rem 0 13.25rem;
  margin-bottom: 2.5rem;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  input {
    height: 2.5rem;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    width: 17.5rem;
    padding: 0 0.8rem;
  }
  input:focus {
    outline: 1px solid #0473ff;
    border: none;
  }
  &_logout_icon {
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  &_logout_icon:hover {
    transform: scale(1.3);
  }
}
.custom_password {
  position: relative;

  .custom_password-icon {
    position: absolute;
    top: 0;
    bottom: 1px;
    right: 11px;
    margin: auto 0;
    width: 1.75rem;
    height: 1.738rem;
    background: url("~/assets/img/search.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
</style>