<template>
  <div class="column">
    <div
      v-for="column in columns"
      :key="column.id"
      class="column__container"
    >
      <span class="column__title">{{ column.name }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    columns: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
    //   clicked: false,
    };
  },
  methods: {
    filterByColumnName(event) {
    //   this.clicked=!this.clicked
    //   let nameOfColumn = event.name;
    //   this.$emit("nameColumn", nameOfColumn, this.clicked);
    },
  },
};
</script>

<style lang="scss" scooped>
</style>