<template>
  <div class="nav">
    <h1>Аренда и съем помещений</h1>
    <nuxt-link class="nav_link" to="/">
      <span>Управление объявлениями</span>
    </nuxt-link>
    <nuxt-link class="nav_link" to="/users">
      <span>Управление пользователями</span>
    </nuxt-link>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>