<template>
  <div class="column">
    <slot></slot>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.oid}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.user_name}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">{{user.user_birthday}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.user_reg_date}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.user_email}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.user_phone_number}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.user_rating}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    // formatDate(event) {
    //   let date = new Date(event);
    //   var options = {
    //     month: "numeric",
    //     day: "numeric",
    //     year: "numeric",
    //     // hour: "numeric",
    //     // minute: "numeric",
    //   };
    //   return date.toLocaleString("ru", options);
    // },
    // formatTime(event) {
    //   let time = event.split(".");
    //   return time[0];
    // },
    // addApplication($event, value) {
    //   if ($event.target.checked) {
    //     this.$store.commit("SetSelectedApplication", value);
    //   } else {
    //     this.$store.commit("removeApplication",value);
    //   }
    // },
  },
};
</script>

<style>
.checkbox_item {
  position: absolute;
  left: -2.506rem;
  margin-top: 1.313rem;
}
</style>