@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    height: 100%;
}

// #__nuxt,
// #__layout,
// html {
//     height: 100%;
// }

.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        gap: 10.188rem;

        h1 {
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
        }

        label {
            display: flex;
            flex-direction: column;
            gap: .25rem;

            input {
                height: 3rem;
                padding: 0 1rem;
                outline: none;
                border: 1px solid #EAECF0;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }

        &_form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 21.375rem;
            margin: 0 auto;

            button {
                margin-top: 3.688rem;
            }
        }
    }
}

.main_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #4548ED;
    border-radius: 10px;
    color: #fff;
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;

    span {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}

.cancel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 2.625rem;
    width: 10.063rem;
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;

    span {
        font-weight: 600;
        font-size: 1rem;
        line-height: 20px;
        color: #4548ED;
    }
}

.nuxt-link-exact-active {
    background: #0C0934;
    border-radius: 10px;
    height: 2.5rem;
    justify-content: center;
    display: flex;

    span {
        margin: auto 0;
    }

}

.main {
    height: 100%;
    display: flex;

    &_wrapper {
        // margin: 2.5rem 24.188rem 2.25rem 11.125rem;
        margin:0 auto;
        padding-top: 4.5rem;

        width: 73%;

        &_column_container {
            display: flex;
            width: 100%;
            justify-content: flex-start
        }

        &_btns {
            margin-top: 2.938rem;
            margin-bottom: 4rem;
            display: flex;
            width: 85%;
            justify-content: space-between;
            gap: 1.25rem;
            align-items: center;
        }
    }
}

.nav {
    display: flex;
    width: 17%;
    min-height: 100vh;
    background-color: #6C6B72;
    flex-direction: column;
    gap: 4rem;

    h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        margin-top: 4.563rem;
    }

    &_link {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
    }
}

.column {
    display: flex;
    // justify-content: space-between;
    // margin: 0 4.375rem 0.313rem 7.5rem;
    gap: 5px;
    margin-bottom: .3rem;
    width: 85%;
    position: relative;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 6.7vw;
        height: 3.75rem;
        background-color: #4548ED;
        cursor: pointer;
    }

    &__title {
        font-weight: 500;
        font-size: 0.688rem;
        line-height: 120%;
        color: #EAECF0;
        text-align: center;
    }

    &__container_grey {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 6.7vw;
        width: 100%;
        height: 3.75rem;
        background-color: #EAECF0;
        gap: 0.3rem;
        overflow: hidden;
    }

    &__title_grey {
        font-weight: 500;
        font-size: 0.688rem;
        line-height: 120%;
        text-align: center;
        color: #0C0934;
        /* height: 100%; */
        margin: auto 0;
        display: flex;
    }
}

.disabled {
    opacity: .5;
    cursor: default;
}

@media screen and (max-width: 1930px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 1858px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1620px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 1306px) {
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 1177px) {
    html {
        font-size: 20%;
    }
}