<template>
  <div class="main">
    <NavPanel />

    <div class="main_wrapper">
      <HeaderComponent />
      <div class="main_wrapper_column_container">
        <NameOfColumn :columns="columns" />
      </div>
      <ApplicationComponent
        v-for="application in posts"
        :key="application.id"
        :application="application"
      >
        <input
          class="checkbox_item"
          type="checkbox"
          :value="application"
          v-model="checkedApplications"
          @click="getSomePost(application)"
        />
      </ApplicationComponent>
      <div class="main_wrapper_btns">
        <button
          @click="toDeclaration"
          :disabled="
            checkedApplications.length == 0 || checkedApplications.length > 1
          "
          :class="{
            disabled:
              checkedApplications.length == 0 || checkedApplications.length > 1,
          }"
          class="main_button"
        >
          <span>Посмотреть подробнее</span>
        </button>
        <div style="display: flex; gap: 1rem">
          <button
            @click="toAgreeOrBan('active')"
            :disabled="checkedApplications.length == 0"
            :class="{
              disabled: checkedApplications.length == 0,
            }"
            class="main_button"
          >
            <span>Подтвердить выбранное</span>
          </button>
          <button
            @click="toAgreeOrBan('deny')"
            :disabled="checkedApplications.length == 0"
            :class="{
              disabled: checkedApplications.length == 0,
            }"
            class="cancel_button"
          >
            <span>Отклонить</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavPanel from "~/components/NavPanel";
import HeaderComponent from "~/components/HeaderComponent";
import NameOfColumn from "~/components/NameOfColumn";
import ApplicationComponent from "~/components/ApplicationComponent";
export default {
  middleware: ["auth"],
  comments: {
    NavPanel,
    HeaderComponent,
    NameOfColumn,
    ApplicationComponent,
  },
  data() {
    return {
      checkedApplications: [],
      columns: [
        {
          id: 1,
          name: "OID",
        },
        {
          id: 2,
          name: "Арендодатель",
        },
        {
          id: 3,
          name: "Объект",
        },
        {
          id: 4,
          name: "Цена",
        },
        {
          id: 5,
          name: "Заголовок",
        },
        {
          id: 6,
          name: "Информация",
        },
        {
          id: 7,
          name: "Дата создания",
        },
      ],
      username: null,
    };
  },
  mounted() {
    this.getPosts();
  },
  methods: {
    async getSomePost(application) {
      await this.$store.dispatch("getAllUsers");
      await this.users.forEach((element) => {
        if (element.oid === application.post_creator.oid) {
          this.username = element.user_name;
        }
      });
      this.$store.commit("setOneUser",this.username)
    },
    toDeclaration() {
      this.$router.push(`/declarations/${this.checkedApplications[0].oid}`);
      // console.log(this.checkedApplications[0].oid);
    },
    getPosts() {
      this.$store.dispatch("getAllPosts");
    },
    toAgreeOrBan(param) {
      let checkedApplicationsId = [];
      this.checkedApplications.forEach((element) => {
        checkedApplicationsId.push(element.oid);
      });
      this.$store.dispatch("workWithPosts", {
        parameter: param,
        id: checkedApplicationsId,
      });
      this.checkedApplications = []
    },
  },

  computed: {
    posts() {
      return this.$store.getters["getPosts"];
    },
    users() {
      return this.$store.getters["getUsers"];
    },
  },
};
</script>
