<template>
  <div class="wrapper">
    <div class="wrapper__container">
      <h1>Аренда и съем помещений</h1>
      <form class="wrapper__container_form" action="#" @submit.prevent="submit">
        <label for="login">
          E-mail
          <input
            placeholder="Укажите e-mail"
            type="text"
            name="login"
            id="login"
            v-on:keyup.enter="submit"
            required
            v-model="login"
          />
        </label>
        <label for="password">
          Пароль
          <input
            placeholder="Укажите пароль"
            type="password"
            name="password"
            id="password"
            v-model="password"
            v-on:keyup.enter="submit"
            required
          />
        </label>
        <button class="main_button" type="submit"><span>Войти</span></button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  layots: "empty",
  data() {
    return {
      login: "",
      password: "",
    };
  },
  methods: {
    async submit() {
      let login = {
        name: this.login,
        password: this.password,
      };
      try {
        await this.$auth.loginWith("local", {
          data: login,
        });
        this.$router.push("/");
        location.reload();
      } catch (err) {
        console.log(err);
        // if (err.response.status == 401 || err.response.status == 400) {
        //   this.errorNotFoundAccount = true;
        // } else if (err.response.status == 422) {
        //   this.errorValidEmail = true;
        // }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper{
  margin-top:10%;
}
</style>