<template>
  <div class="main">
    <NavPanel />

    <div class="main_wrapper">
      <HeaderComponent />
      <div class="main_wrapper_column_container">
        <NameOfColumn :columns="columns" />
      </div>
      <UsersComponent v-for="user in users" :key="user.id" :user="user">
        <input
          class="checkbox_item"
          type="checkbox"
          :value="user"
          v-model="checkedUsers"
        />
      </UsersComponent>
      <div class="main_wrapper_btns">
        <button
          @click="toBan"
          :disabled="checkedUsers.length == 0"
          :class="{
            disabled: checkedUsers.length == 0,
          }"
          class="main_button"
        >
          <span>Заблокировать выбранное</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import NavPanel from "~/components/NavPanel";
import HeaderComponent from "~/components/HeaderComponent";
import NameOfColumn from "~/components/NameOfColumn";
import UsersComponent from "~/components/UsersComponent";
export default {
  middleware: ["auth"],
  comments: {
    NavPanel,
    HeaderComponent,
    NameOfColumn,
    UsersComponent,
  },
  data() {
    return {
      checkedUsers: [],
      columns: [
        {
          id: 1,
          name: "OID",
        },
        {
          id: 2,
          name: "Имя Фамилия",
        },
        {
          id: 3,
          name: "Дата рождения",
        },
        {
          id: 4,
          name: "Дата регистрации",
        },
        {
          id: 5,
          name: "Email",
        },
        {
          id: 6,
          name: "Номер телефона",
        },
        {
          id: 7,
          name: "Рейтинг",
        },
      ],
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      this.$store.dispatch("getAllUsers");
    },
    toBan() {
      let arrayUserId = [];
      this.checkedUsers.forEach((element) => {
        arrayUserId.push(element.oid);
      });
      this.$store.dispatch("usersToBan", arrayUserId);
      this.checkedUsers=[]
    },
  },
  computed: {
    users() {
      return this.$store.getters["getUsers"];
    },
  },
};
</script>
